*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Saira Condensed', sans-serif;
}

:root{
    --logo:#1b1515;
    --gris:#887f7f;
}

.header{
    width: 100%;
    height: 12vh;
    background-color:var(--logo);
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    top:0px;
    z-index: 10;
    transition: background .2s;
}
.header .header__img{
    height: 40%;
    width: 40%;
    margin-right: 30%;
}
.header .header__toggle{
    width: 12%;
    height: 40%;
    margin-left: 15px;
    position: relative;
}
.header .header__toggle .header__span{
    position:absolute;
    width: 100%;
    height: 6px;
    background-color: #bbb6b6;
}

.header .header__toggle .header__span--1{
    margin-top: 12px;
}
.header .header__toggle .header__span--2{
    margin-top: 24px;
}

.header .header__img .header__icon{
    width: 100%;
    height: 100%;
}

.header .nav{
    position:fixed;
    top:12vh;
    right: 100%; 
    /* right debe ser cambiado para hacer alucion a movimiento */
    width: 70%;
    height: 88vh;
    background-color: #0a0a0a;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    z-index: 10;
}


.header .nav .nav__ul{
    width: 100%;
    height: 90%;
    list-style: none;
}

.header .nav .nav__ul .nav__li{
    width: 100%;
    height: 15%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
}

.header .nav .nav__ul .nav__li .nav__a{
    color:#fff;
    text-decoration: none;
    margin-left: 20px;
}

.carrusel{
    position: relative;
    margin-top: 12vh;
    z-index: 1;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-attachment: fixed;
}

.carrusel .carrusel__buttons{
    position:absolute;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    top:85%;
    width: 100%;
    height: 10%;
    z-index: 2;
}
.carrusel .carrusel__buttons .carrusel__button{
    margin-left: 15px;
    font-size: 1.1rem;
    color:#fff7f79a;
    transition: color .3s;
}

.carrusel .carrusel__buttons .carrusel__button:hover{
    color:#fff;
    cursor: pointer;
}
.carrusel .carrusel__content{
    width: 300%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    transition: transform .6s;
}
.carrusel .carrusel__content .carrusel__slider{
    width: 100%;
    height: 100%;
}

.carrusel .carrusel__content .carrusel__one.carrusel__slider{
    width: 100%;
    height: 100%;
    background-image: url(./img/bosque-2.jfif);
    background-size: cover;
    background-position: center ;
}

.carrusel .carrusel__content .carrusel__two.carrusel__slider{
    background-image: url(./img/sydney.jfif);
    background-size: cover;
    background-position: center ;
}

.carrusel .carrusel__content .carrusel__three.carrusel__slider{
    background-image: url(./img/tokio.jfif);
    background-size: cover;
    background-position: center ;
   
}

.section-1{
    margin-top: 40px;
    width: 100%;
    height: auto;
    padding: 0px 20px;
}

.section-1 .section-1__article{
    width: 100%;
    height: auto;
}
.section-1 .section-1__h2{
    font-size: 2rem;
    
}

.section-1 .section-1__p{
    font-size: 1.3rem;
    color: var(--gris);
}

.section-1 .section-1__article .section-1__footer{
    width:90%;
    height: 10vh;
    margin-top: 10px;
}

.section-1 .section-1__article .section-1__footer .section-1__footer-img{
    width: 40%;
    height: 100%;
}

.section-1 .section-2{
    margin-top: 10px;
    width: 100%;
    height: 200vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.section-1 .section-2 .section-2__images{
    width: 100%;
    height: 90%;
}

.section-1 .section-2 .section-2__images .section-2__img{
    width: 100%;
    height: 45%;
    margin-top: 40px;
}

.section-3{
    width: 100%;
    height: auto;
    padding: 0 20px;
}

.section-3 .section-3__citas{
    width: 100%;
    height: 85vh;
    background-color: #c5e4e4;
}

.section-3 .section-3__citas .section-3__blockquote{
    font-size: 1.6rem;
    font-weight: bold;
    color:#ffffff;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 10px;
    position: relative;
    z-index: 2;
}

.section-3 .section-3__citas .section-3__blockquote::before{
    content: '"';
    position:absolute;
    width: 20px;
    height: 8%;
    left: 20px;
    top:8%;
    font-size: 3rem;
    color:#0a0a0a;
    
}

.section-3 .section-3__citas .section-3__blockquote::after{
    content: " ";
    position:absolute;
    width: 4px;
    height: 95%;
    top:17%;
    left: 20px;
    background-color: #0a0a0a;
}

.section-3 .section-3__citas .section-3__pie{
    padding-left: 40px;
    font-size: 1.4rem;
    margin-top: 15px;
    font-style: italic;
    color:var(--gris);
}

.section-3 .section-3__video{
    margin-top: 25px;
    width: 100%;
    height: 40vh;
    box-shadow: 0px 0px 20px 0px var(--gris);
}

.section-3 .section-3__video .section-3__iframe{
    width: 100%;
    height: 100%;
}

.section-4{
    width: 100%;
    height: auto;
    padding: 0px 20px;
}

.section-4 .section-4__article{
    height: 40vh;
    width: 100%;
    margin-top: 20px;
}

.section-4 .section-4__article .section-4__h3{
    font-size: 2rem;
}

.section-4 .section-4__article .section-4__p{
    font-size: 1.3rem;
    color: var(--gris);
    padding: 10px 0px;
}

.section-5{
    width: 100%;
    height: auto;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 95vh 95vh 55vh 55vh;
    row-gap: 30px;
    justify-items: center;
}

.section-5 .section-5__size{
    width: 95%;
    height: 100%;
    position: relative;
}

.section-5 .section-5__size .section-5__img{
    width: 100%;
    height: 100%;
}

.section-5 .section-5__size .section-5__text{
    position:absolute;
    top:80%;
    color:#fff;
    font-size: 1.4rem;
    line-height: 35px;
    padding-left: 30px;
}

.section-5 .section-5__size .section-5__text .section-5__h5{
    font-size: 2rem;
    font-weight: bold;
}

.section-5 .section-5__size .section-5__text .section-5__span{
    font-size: 1.6rem;
    font-weight: bold;
}


.section-6{
    height: auto;
    width: 100%;
}

.section-6 .section-6__text{
    padding: 0 20px;
    margin-top: 40px;
}

.section-6 .section-6__text .section-6__h3{
    font-size: 2rem;
    color:#000;
}

.section-6 .section-6__text .section-6__p{
    color:var(--gris);
    font-size: 1.3rem;
    padding-top: 20px;
}

.section-6 .section-6__text .section-6__list{
    margin-top: 30px;
}

.section-6 .section-6__text .section-6__list .section-6__ul{
    list-style: none;
    font-size: 1.3rem;
    color:var(--gris);
}
.section-6 .section-6__text .section-6__list .section-6__ul .section-6__li{
    margin-top: 15px
}

.section-6 .section-6__text .section-6__list .section-6__ul .section-6__li i{
    font-size: 0.9rem;
    width: 30px;
}

.section-6 .section-6__text .section-6__list .section-6__ul.section-6__ul--sparcing{
    margin-top: 30px;
}

.section-7{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#fff 10%,transparent),url(./img/bosque-3.jfif);
    background-size: cover;
}

.section-7 .section-7__article{
    width: 90%;
    height: 65%;
    font-size: 1.5rem;
    padding: 40px 40px;
    background-color: #f3f1f1;
    position: relative;
}

.section-7 .section-7__article .section-7__p{
    font-weight: bold;
}

.section-7 .section-7__article .section-7__footer{
    margin-top: 15px;
    font-size: 1.3rem;
    color:#887f7f;
}

.section-7 .section-7__article::before{
    content: '"';
    position:absolute;
    font-size: 2.5rem;
    width: 20px;
    height: 30px;
    top:0px;
    left: 6%;
}

.section-7 .section-7__article::after{
    content: " ";
    position:absolute;
    width: 3px;
    top:8%;
    left: 7%;
    height: 80%;
    background-color: #000;
}

.section-8{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh repeat(3,80vh);
    justify-items: center;
    column-gap: 30px;
}

.section-8 .section-8__card{
    width: 90%;
    height: 100%;
}

.section-8 .section-8__card .section-8__card-img{
    width: 100%;
    height: 50%;
}

.section-8 .section-8__card .section-8__card-text{
    font-size: 1.2rem;
    color:#bbb6b6;
}

.section-8 .section-8__card .section-8__card-text .section-8__card-header{
    font-size: 1rem;
    padding: 10px 0px;
}

.section-8 .section-8__card .section-8__card-text .section-8__card-h3{
    font-size: 1.5rem;
    padding: 10px 0px;
    color:#000;
}


.footer{
    width: 100%;
    height: 120vh;
    background-color: #0c0c0c;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.footer .footer__form{
    width: 100%;
    height: 60%;
    background-color: #110e0e;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

.footer .footer__form .footer__form-img{
    width: 90%;
    height: 55%;
}

.footer .footer__form .footer__form-h2{
    font-size: 1.6rem;
    color:#fff;
    margin-top: 10px;
}

.footer .footer__form .footer__form-h3{
    font-size: 1.4rem;
    padding: 0px 20px;
    color:#0ec2c2;
}

.footer .footer__inputs{
    width: 90%;
    height: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer .footer__inputs .footer__input-text{
    width: 100%;
    height: 55%;
    outline-style: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid #bbb6b6;
    color:#f3f1f1;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.footer .footer__inputs .footer__button{
    position:absolute;
    width: 10%;
    height: 45%;
    border: none;
    border-radius: 100%;
    font-size: 1.6rem;
    background: transparent;
    color:#0ec2c2;
    right: 0%;
}

.footer .footer__social{
    width: 60%;
    height: 8%;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items: center;
}

.footer .footer__social .footer__social-app{
    width: 17%;
    height: 65%;
    background-color: #2b2828;
    border-radius: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color:#5b5e5e;
    text-decoration: none;
}

.footer .footer__logo{
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.footer .footer__logo .footer__icon{
    width: 50%;
    height: 40%;
}

.footer .footer__credito{
    color:#bbb6b6;
    font-size: 1.1rem;
}

@media screen and (min-width: 1024px) {
    .header{
        background-color: transparent;
        border-bottom: 1px solid #cfcdcd9a;
    }
    .header .header__toggle{
            display: none;
    }
    .header .header__img{
        width: 15%;
        height: 50%;
        margin-right: 0;
        margin-left: 10%;
    }
    .header .nav{
        position: relative;
        top: 0;
        right: 0px;
        width: 60%;
        height: 70%;
        margin-right: 10%;
        background-color: transparent;
        border-right: 1px solid #cfcdcd9a;
    }

    .header .nav .nav__ul{
        display: flex;
        flex-flow: row wrap;
        justify-content:space-evenly;
        align-items: center;
    }

    .header .nav .nav__ul .nav__li{
        width: 15%;
        height: 40%;
        padding-left: 20px;
    }

    .header .nav .nav__ul .nav__li .nav__a{
        font-size: 1.4rem;
        font-weight: bold;
        position: relative;
    }
    .header .nav .nav__ul .nav__li .nav__a::before{
        content: " ";
        position: absolute;
        width: 0%;
        height: 3px;
        background-color: #00b3b3;
        transition: width .3s;
    }
    .header .nav .nav__ul .nav__li .nav__a:hover::before{
        content: " ";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #00b3b3;
        transition: width .3s;
    }
    .carrusel{
        height: 100vh;
        margin-top: 0vh;
    }

    .section-1{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        background: linear-gradient(to right bottom,#ffffffef,transparent 90%),linear-gradient(to right top,#ffffff 40% ,transparent),url(./img/fondo-1.jfif);
        background-size: cover;
    }

    .section-1 .section-1__article{
        width: 35%;
        height: 95vh;
    }
    .section-1 .section-1__h2{
        font-size: 2.5rem;
        line-height: 40px;
        padding-right: 30%;
        margin-top: 20%;
    }
    .section-1 .section-1__p{
        font-size: 1.4rem;
        margin-top: 40px;
        line-height: 30px;
    }
    .section-1 .section-2{
        width: 45%;
        height: 95vh;
       
    }

    .section-1 .section-2 .section-2__images{
        width: 100%;
        height: 100%;
        position:relative;
    }

    .section-1 .section-2 .section-2__images .section-2__img{
        position:absolute;
        width: 65%;
        height: 70%;
        left: 20%;
        top:15%;
    }

    .section-1 .section-2 .section-2__images .section-2__img.section-2__img--position{
        position:absolute;
        top:0%;
        left: 5%;
    }
    .section-1 .section-1__article .section-1__footer{
        margin-top: 20px;
    }

    .section-1 .section-1__article .section-1__footer .section-1__footer-img{
        width: 30%;
    }
    .section-3{
        margin-top: 30px;
        height: 120vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: end;
        align-items: center;
        background: linear-gradient(to left bottom,#fff 50%,transparent),url(./img/fondo-2.jfif);
        background-size: cover;
    }
    .section-3 .section-3__citas{
        width: 65%;
        height: 70%;
        position:absolute;
    }

    .section-3 .section-3__citas .section-3__blockquote{
        margin-top: 10%;
        width: 80%;
        margin-left: 10%;
        padding-right: 0px;
        color:#000;
        font-size: 1.8rem;
        padding-left: 120px;
    }
    .section-3 .section-3__citas .section-3__blockquote::before{
        left: 80px;
        top: 25%;
    }
    .section-3 .section-3__citas .section-3__blockquote::after{
        top:27%;
        height: 100%;
        left: 30px;
    }
    .section-3 .section-3__citas .section-3__pie{
        padding-left: 23%;
    }

    .section-3 .section-3__video{
        width: 30%;
        height: 40%;
        position:absolute;
        top:55%;
        left: 10%;
    }
    .section-4{
        height: 50vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 80px;
    }
    .section-4 .section-4__article{
        height: 90%;
        width: 30%;
        margin-top: 0px;
    }
    .section-4 .section-4__article .section-4__h3{
        font-size: 2.5rem;
        font-weight: bold;
    }
    .section-4 .section-4__article .section-4__p{
        font-size: 1.4rem;
    }

   .section-5{
    height: 100vh;
    grid-template-columns: repeat(3,33%);
    row-gap: 20px;
    grid-template-rows: 50% 50%;
    background: linear-gradient(to right top,#fff 45%,transparent),url(./img/bosque-3.jfif);
   }
   .section-5 .section-5__size.section-5__alto--uno{
        grid-area: 1/1/3/1;
   }
   .section-5 .section-5__size.section-5__alto--dos{
        grid-area: 1/3/3/3;

   }

   .section-6{
      height: 50vh;
   }

   .section-6 .section-6__text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
   }
   .section-6 .section-6__text .section-6__h3{
    width: 40%;
    height: 30%;
    font-size: 3rem;
    text-align:start;
    margin-right: 70px;
    padding-top: 40px;
   }
   .section-6 .section-6__text .section-6__p{
    width: 50%;
    height: 50%;
    padding-left: 40px;
    margin-top: 10px;
   }
   .section-6 .section-6__text .section-6__list{
        width: 50%;
        height: 70%;
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        align-items: center;
        margin-top: 90px;
   }
   .section-6 .section-6__text .section-6__list .section-6__ul{
        margin-left: 40px;
   }
   .section-6 .section-6__text .section-6__list .section-6__ul.section-6__ul--sparcing{
        margin-bottom: 30px;
   }

   .section-7{
        justify-content: end;
   }

   .section-7 .section-7__article{
        width: 60%;
        height: 45%;
        padding-left: 13%;
        padding-top: 5%;
        margin-right: 5%;
   }
   .section-7 .section-7__article .section-7__p{
        font-size: 1.8rem;
   }
   .section-7 .section-7__article::before{
        top:18%;
        left:18%;
   }
   .section-7 .section-7__article::after{
        top:20%;
        left:10%;
        height: 60%;
   }
   .section-8{
        width: 100%;
        height: 120vh;
        grid-template-columns: repeat(3,calc(90%/3));
        grid-template-rows: 10vh 70vh;
        justify-content: center;
        align-content: center;
        column-gap: 0px;
        row-gap: 40px;
   }
   .section-8 .section-8__h2{
        grid-area: 1/1/1/4;
        width: 100%;
        height: 100%;
        font-size: 3rem;
        font-weight: bolder;
        padding-left: 25px;
   }
   .footer{
        width: 100%;
        height: 70vh;
        position: relative;
   }
   .footer .footer__form{
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content:space-between;
        margin-top: 10px;
        position: relative;
    }
    .footer .footer__form .footer__form-img{
        width: 45%;
        height: 60vh;
        position:absolute;
        top:-25%;
        right: 55%;
        box-shadow: 0px 0px 15px 0px var(--gris);
   }
   .footer .footer__form .footer__form-h2{
        width: 30%;
        display: inline-block;
        margin-top: 0px;
        position: relative;
        left: 54%;
        top:10%;
        font-size: 2.6rem;
   }
   .footer .footer__form .footer__form-h3{
        width: 60%;
        display: inline-block;
        position: relative;
        left: 23%;
        top:45%;
        text-align: start;
   }
   .footer .footer__inputs{
        width: 40%;
        height: 15%;
        position: relative;
        top:-15%;
        left: 18%;
   }
   .footer .footer__social{
        width: 15%;
        position: relative;
        left: 40%;
        top:10%;
   }
   .footer .footer__social .footer__social-app{
        height: 90%;
        width: 16%;
        transition: all .4s;
   }
   .footer .footer__social .footer__social-app:hover{
        color:#fff;
        background-color:#443e3e;
   }
   .footer .footer__logo{
        width: 25%;
        position: relative;
        right: 30%;

   }
   .footer .footer__logo .footer__icon{
        width: 60%;
        height: 90%;
   }
   .footer .footer__credito{
        position:absolute;
        top:87%;
        left: 29%;
   }
}